@import 'variables.scss';
@import 'mixins.scss';
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: white;
  background-color: #FFC300 ;
  // background: url('../img/main_bg.jpg') no-repeat top center fixed;
  background-size: 200%;

  // sm --- Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    background-size: 200%;
  }

  // md --- Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    background-size: 150%;
  }

  // lg --- Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    background-size: 120%;
  }

  // xl --- Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    background-size: cover;
  }
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;

  margin: 0 0 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.2;

  margin: 0 0 25px;
  @media(min-width: 768px) {
    font-size: 20px;
    line-height: 1.6;

    margin: 0 0 15px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;

    color: darken($primary, 20%);
  }
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin-bottom: 0;

  text-transform: uppercase;

  border-bottom: 1px solid fade-out(white, .7);
  background-color: #212529;
  .navbar-toggler {
    font-size: 14px;

    padding: 11px;

    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;

    border-bottom: none;
    background: rgba(0, 0, 0, 0.5);
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: #212529;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      &:hover {
        color: white;
      }
    }
  }
}

.masthead {
  display: table;

  width: 100%;
  height: 100%;
  padding: 20px 0;

  text-align: center;

  color: #212529;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-body {
    display: table-cell;

    vertical-align: middle;
    .brand-background {
      padding: 25px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }
    .brand-heading {
      font-size: 50px;
    }
    .intro-text {
      font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 20px;
      text-align: justify;
      margin: 20 0;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
        margin: 0 0;
      }
    }
  }
}

.covid {
  display: table;

  width: 100%;
  height: auto;
  padding: 15px;
  padding-bottom: 40px;

  text-align: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .brand-background {
    padding: 25px;
    background: rgba(255, 50, 100, 0.3);
  }

}

.about-section {
  background-color: rgba(#4a3a21, 0.6);
  p {
    text-align: justify;
  }
  .finish {
    font-size: 35px;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  }
  h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.application-section {
  background-color: rgba(#4a3a21, 0.6);
  .brand-background {
    padding: 25px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    text-align: center;
  }

}

.btn-circle {
  font-size: 26px;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color: #212529;
  border: 2px solid #212529;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(#212529, .7);
  }
}

.content-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.info-section {
  color: white;
  background-color: rgba(#520a00, 0.4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h4 {
    margin-bottom: 5px;
    margin-top: 30px;
  }
}

.team-section {
  background-color: rgba(#520a00, 0.4);
  p {
    font-size: 16px;
  }
  h2 {
    margin-bottom: 0px;
  }
}

.contact-section {
  background-color: rgba(#534f4e, 0.2);
  p {
    font-size: 16px;
  }
  h2 {
    margin-bottom: 0px;
  }
  a {
    color: darken($primary, 25%);
    &:hover {
      text-decoration: none;
  
      color: darken($primary, 40%);
    }
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  margin-top: 30px;
  border-radius: 5px;
  width: 100%;
  overflow-wrap: break-word;
  background: rgba(255,255,255,.5);
  color: black;
}

.user-image {
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.user-image.hidden {
  display: none;
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:focus,
  &:hover {
    color: #212529;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.org {
  img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    margin-top: 0px;
    border: solid 3px white;
  }
  h3 {
    margin: 0;
    min-height: 60px;
    margin-bottom: 5px;
    margin-top: 40px;
  }
  h5 {
    margin-bottom: 5px;
    margin-top: 30px;
  }
  p {
    text-align: justify;
  }
}

footer {
  background: rgba(#000000, 0.4);
  padding: 50px 0;
  p {
    font-size: 14px;

    margin: 0;
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:block;
  /* inline-block space fix */
  margin-right:-4px;
}

.wide-margin {
  @media(min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dropdown-menu {
  background: rgba(0,0,0,.5);
  margin-top: 20px;
}

.dropdown-item:hover {
  background-color: #68523d;
}

.row-info {
  display:flex;
}

.column-info {
  flex: 1;
}

.column-mamut {
  flex: 0;
}

.bg-img-provaz {
  background: url('../img/bg_provaz.jpg') no-repeat center center scroll;
  background-size: cover;
}

.bg-img-lidi {
  background: url('../img/kruh_lidi.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 50%;
}

.bg-img-prihlaska-tym {
  background: url('../img/prihlaska-tym.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 75%;
}

.bg-img-tym-kontakt {
  background: url('../img/tym-kontakt.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 35%;
}

.bg-img-ocem-prakticke {
  background: url('../img/o-cem-prakticke.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 50%;
}

.bg-img-podklad {
  background: url('../img/yellow_vector.jpg') no-repeat center center scroll;
  background-size: 100% 100%;
}

.komiks {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 400px;
}

.komiks-wide {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 600px;
}

.komiks-max {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  min-width: 300px;
}

.add-top-margin {
  margin-top: 95px;
}

.prihlaska-comment {
  font-size: 16px;
  color: rgba(170, 170, 130, 1);
}